@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cookie&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

html {
    scroll-behavior: smooth;
  }
body{
    
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    font-size: large;
    
}
/*Navbar start*/
.navbar{
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    transition:background-color 500ms linear;
}
.navbar.scrolled {
    background-color: #0E1326 !important;
    opacity: 0.9;
    transition: background-color 500ms linear;

}
/*Navbar end*/

/*Side Navbar start*/
.sidenav{
    background: none;
    position: fixed;
    top: 50%;
    overflow: hidden;
    padding-left: 15px;
    font-size: small;
}
.sidenav a{
    padding-bottom: 20px; /* WHY IS THIS NOT WORKING? */
}

/*Landing page start*/
.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #E9ECEF;
}
.home-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner{
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    text-align: center;
    background-image: url('images/leaves_bkg.jpg'); 
}
/*Landing page buttons */
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 35%;
    z-index: 1;
}
.caption h1{
    color:white;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-bottom: 1.25rem;
    font-family: 'Playfair Display', serif;
}
.caption h3{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
    font-family: 'Merriweather', serif;
}
.landing-btns{
    text-transform: uppercase;
}
.landing-btns a{
    width: 200px;
    margin: 10px;
}
/*Landing page end*/

/*Section headings */
.heading{
    text-align: center;
    text-transform: uppercase;
}
hr{
    border: 0;
    width: 50%;
    height: 2px;
    background-color: black;
}
.displayone{
    background-color: #eee;
    padding: 5rem;
}
.displaytwo{
    background-color: white;
    padding: 5rem;
}
/* Start About Me*/
.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
}
.icon-style{
    display: block;
    text-align: center;
    font-size: 50px;

}
.icon-img-style{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: auto;
}/*End About Me*/


/*Start Footer*/
.thank-img{
    display: block;
    width: 300px;
}
.footer{
    color: #FCFCFB;
    text-align: right;
    background-color: #366055;
    padding: 5px 25px;
    font-size: 0.8em;
}
/*End Footer*/



/*Media Queries Start */
/*Tablet*/
@media  (max-width: 768px){   
    #side-nav{
        display: none;
    }
    .displayone{
        padding: 5rem 0rem;
    }
    .displaytwo{
        padding: 5rem 0rem;
    }
}

@media  (min-width:769px){
    #side-nav-hidden{
        display: none;
    }
    

}

@media (max-width: 992px){
    .displayone{
        text-align: center;
        
    }
    .displaytwo{
        text-align: center;
        
    }
    #proj-one-laptop{
        display: none;
    }
    #proj-two-laptop{
        display: none;
    }
    #proj-three-laptop{
        display: none;
    }
    
}
@media (min-width: 993px){
    #buttonSizer1{
        width:200px;
        float:right;
    }
    #buttonSizer2{
        width:150px;
        float:left;
    }
    #proj-one-mobile{
        display: none;
    }
    #proj-two-mobile{
        display: none;
    }
    #proj-three-mobile{
        display: none;
    }
}

@media  (min-width: 1600px){
    #proj-one-laptop{
        padding-right: 8rem;
        padding-left: 8rem;
    }
    #proj-two-laptop{
        padding-right: 8rem;
        padding-left: 8rem;
    }
    #proj-three-laptop{
        padding-right: 8rem;
        padding-left: 8rem;
    }
    #contact{
        padding-right: 8rem;
        padding-left: 8rem;
    }
}

#skillsContainer{
    @media (min-width: 576px){
        width: 100%;
    }
    @media (min-width: 770px){
        width: 75%
    }
    @media (min-width: 992px){
        width 75%;
    }
    
}

#ThankYouImg{
    width:100%;
    height:auto;
}
/*Media Queries Ends*/

/* Boostrap Override */
.row{
    margin-right:0px;
    margin-left:0px;
}


